<div class="noAcceder">
<h1>Esta intentando acceder a contenido solo disponible para usuarios registrados</h1>
</div>
<div class="noAcceder">
<h2>En caso de no ser usuario se puede registrar <a href="/auth/signup">aqui</a></h2>
</div>

<div class="col text-center formlogin">
<form action="/auth/login" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit">Submit</button>
</form>
</div>